
/* GLOBAL */

body {
  font-family: 'Roboto Condensed', serif;
}

* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body a, body p {
  font-family: 'Roboto Condensed', serif;
}

body h2 {
  font-family: 'Roboto Condensed', serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

body h3 {
  font-family: 'Roboto Condensed', serif;
  color: rgba(3,3,3,.4);
  padding-bottom: 11px;
}

body h4 {
  font-family: 'Roboto Condensed', serif;
  color: black;
  line-height: 20px;
}

.max-width-container {
  max-width: 1310px;
  margin: 0 auto;
}

.orange-bc {
 background-color: #f72210;
}

.orange-color {
  color: #f72210;
}

input[type="email"] {
  font-family: arial;
}

.text-decoration-none {
  text-decoration: none;
}

.grayish-bg-color {
  background-color: #bddcfc;
}

.thick-seperation-line {
  background-color: #f4f5f6;
  height: 20px;
}

/* LINKS */

body h2 a {
  color: black;
  text-decoration: none;
}

.middle-header ul a{
  text-decoration: none;
  color: black;
}

.bottom-header ul a {
  text-decoration: none;
  color: gray;
}

.heading-rectangle a {
  text-decoration: none;
  color: #f72210;
}

.the-debate-link {
  color: black;
  text-decoration: none;
}

.more-stories a {
  color: black;
  text-decoration: none;
}

.free-sign-up-button {
  text-decoration: none;
  color: black;
}

.in-the-magazine-description {
  color: black;
  text-decoration: none;
}

footer a {
  color: #666;
  font-family: arial;
  font-size: 14px;
}

/* HOVERS */

body h2 a:hover {
  border-bottom: 1px solid #f72210;
  color: black;
  text-decoration: none;
}

.middle-header ul a:hover{
  color: #f72210;
}

.bottom-header ul a:hover{
  color: #f72210;
}

.the-debate-link:hover {
  border-bottom: 1px solid #f72210;
  color: black;
  text-decoration: none;
}

.more-stories a:hover {
  border-bottom: 1px solid #f72210;
  color: black;
  text-decoration: none;
}

.free-sign-up-button:hover {
  color: black;
  text-decoration: none;
}

.magazine-section-headline a {
  text-decoration: none;
  color: #f72210;
}

.in-the-magazine-description:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #f72210;
}

.top-footer-right i:hover {
  color: rgb(69, 69, 252);
}

footer a:hover {
  color: black;
  text-decoration: none;
}

/* HEADER */

header {
  max-width: 1310px;
}

/* TOP HEADER */

.top-header {
  height: 50px;
}

.top-left-header {
  height: 60%;
  font-size: 15px;
}

.date {
  font-family: arial;
}

.newsweek-icon {
  width: 132px;
  filter: invert(1);
}

.top-right-header i {
  opacity: 0.7;
  font-size: 19px;
}

.top-right-header .subscribe {
  background-color: #ffe400;
  font-size: 13px;
  min-width: 88px;
}

.top-right-header .subscribe i {
  font-size: 13px;
}

.rectangle {
  top: 95px;
  right: 0;
  width: 67px;
  height: 13px;
  background: #f72210;
}

.triangle {
  top: 95px;
  right: 67px;
  width: 0;
  height: 0;
  border-top: 13px solid #f72210;
  border-left: 13px solid transparent;
}

/* MIDDLE HEADER */

.middle-header ul{
  margin-right: 85px;
  font-size: 19px;
  height: 55px;
}

.middle-header ul li{
  display: flex;
  align-items: center;
}

.seperation {
  height: 19px;
  border-left: 1px solid lightgray;
}

.search-input input{
  width: 70px;
  border: transparent;
}

::placeholder {
  font-family: arial;
}

/* BOTTOM HEADER */

.bottom-header ul {
  padding: 12px 0;
  border-color: lightgray;
  border-width: 3px;
}

.bottom-header li {
  margin-left: 33px;
}

/* MAIN/SHOWCASE */

main section {
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

/* FEATURED STORIES  */

.featured-stories-container {
  border-bottom: 1px solid lightgrey;
}

/* TOP STORY */

.top-story {
  border-bottom: 1px solid lightgray;
}

.heading-rectangle {
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.9);
}

.article-subtext {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial,Helvetica,sans-serif;
  margin-top: 10px;
}

/* TOP STORY - MORE STORIES*/

.more-stories-container {
  border-bottom: 1px solid lightgray;
}

.more-stories img{
  width: 95px;
  height: 95px;
}

/* TOP STORY - MY TURN*/

.my-turn h4,
.culture-travel h4 {
  color: rgba(3,3,3,.4);
}

/* THE DEBATE */

.the-debate {
  padding-bottom: 32px;
}

.the-debate-thick-line {
  border-bottom: 4px solid #d9d9d9;
}

.the-debate-pic {
  width: 63px;
}

.the-debate-thin-lines {
  height: 3px;
}

.the-debate-description p {
  font-family: arial;
  font-size: 14px;
  color: #555;
}

.the-debate-description span {
  font-family: 'Roboto Condensed', serif;
  color: black;
}

.the-debate-circle {
  width: 33px;
  height: 33px; 
  background-color: black;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 126px;
}

/* THE DEBATE - OPINION*/

.opinion {
  padding-bottom: 0;
}

/* THE DEBATE - SIGN UP*/

.sign-up-rectangle {
  max-width: 300px;
  background-color: #f4f5f6;
}

.sign-up h3,
.in-the-magazine-headline {
  font-size: 18px;
  color: #333;
}

.n-icon {
  width: 29px;
  height: 29px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.sign-up-input {
  height: 35px;
}

.free-sign-up-button {
  height: 32px;
}

/* SUBSCRIBE NEWSLETTER */

.subscribe-box {
  height: 362px;
  background-color: #f4f5f6;
  z-index: -2;
}

.subscribe-box p,
.newsletter-box p {
  font-family: helvetica;
  line-height: 22px;
  z-index: 1;
}

.subscribe-box-pic-1 {
  top: 24px;
  left: 34%;
  z-index: -1;
}

.subscribe-box-pic-2 {
  top: 38px;
  left: 45%;
  z-index: -1;
}

.newsletter-box {
  height: 213px;
}

.newsletter-button {
  height: 40px;
  padding-top: 13px;
}

.newsletter-input {
  height: 40px;
}

/* FOOTER */

.top-footer-left svg {
  width: 236px;
}

.top-footer-left p {
  font-family: arial;
  font-size: 12px;
}

.top-footer-right i{
  font-size: 30px;
  color: rgb(92, 92, 92);
}

.bottom-footer {
  line-height: 25px;
}

.bottom-footer-top p {
  color: #666;
}

/* MEDIA QUERY */

@media only screen and (min-width: 767px) {

/* GLOBAL */

  body h2 {
    font-size: 22px;
  }

/* HEADER */

  .top-right-header {
    font-size: 18px;  
  }

  .top-right-header i {
    font-size: 26px;
  }

  .top-right-header .subscribe {
    font-size: 18px;
  }

/* FEATURED STORIES */

  .featured-stories-container {
    border-bottom: transparent;
  }

/* TOP STORY */

  .top-story {
    border-bottom: transparent;
  }

  .my-turn-container {
    display: flex;
  }

  .more-stories-container {
    border-bottom: transparent;
  }

/* MAGAZINE/EDITORS PICK */

  .in-the-magazine-description {
    font-size: 20px;
  }

  .editors-pick-container h2 {
    font-size: 24px;
  }

  .editors-pick-container p {
    font-size: 15px;
  }

/* SUBSCRIBE NEWSLETTER */

  .subscribe-box {
    height: 300px;
  }

  .subscribe-box-pic-1 {
    top: 34px;
    left: 34px;
    z-index: -1;
  }

  .subscribe-box-pic-2 {
    top: 48px;
    left: 120px;
    z-index: -1;
  }

  .subscribe-box-text {
    margin-left: 300px;
  }

  .newsletter-box {
    height: 254px;
  }

  .newsletter-bg-img {
    height: 100%;
    width: 191px;
    background: rgba(0, 0, 0, 0) url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") no-repeat scroll center center / cover;
  }

}

@media only screen and (min-width: 992px) {

/* HEADER */

  .top-header {
    height: 95px;
  }

  .newsweek-icon {
    width: 395px;
  }

  .top-right-header i {
    font-size: 26px;
  }

  .top-right-header .subscribe {
    font-size: 18px;
  }

/* SUBSCRIBE NEWSLETTER */

  .subscribe-newsletter {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .subscribe-box {
    height: 317px;
  }

  .newsletter-box {
    height: 317px;
  }

  .newsletter-box-right {
    max-width: 43%;
  }

  .newsletter-bg-img {
    width: 50%;
  }

}