
/* GLOBAL */

body {
  font-family: 'Roboto Condensed', serif;
  background-color: #f4f5f6;
}

* {
  box-sizing: border-box;
}

body a, body p {
  font-family: 'Roboto Condensed', serif;
}

body h3 {
  font-family: 'Roboto Condensed', serif;
  color: rgba(3,3,3,.4);
  padding-bottom: 11px;
}

body h2 {
  font-family: 'Roboto Condensed', serif;
  font-size: 22px;
  line-height: 24px;
  margin-top: 10px;
}

.max-width-container {
  max-width: 1310px;
  margin: 0 auto;
}

.orange-bc {
 background-color: #f72210;
}

/* LINKS */

body h2 a {
  color: black;
  text-decoration: none;
}

.middle-header ul a{
  text-decoration: none;
  color: black;
}

.bottom-header ul a {
  text-decoration: none;
  color: gray;
}

.heading-rectangle a {
  text-decoration: none;
  color: #f72210;
}

/* HOVERS */

body h2 a:hover {
  border-bottom: 1px solid #f72210;
  color: black;
  text-decoration: none;
}

.middle-header ul a:hover{
  color: #f72210;
}

.bottom-header ul a:hover{
  color: #f72210;
}


/* HEADER */

/* TOP HEADER */

.top-header {
  height: 50px;
}

.top-left-header {
  height: 60%;
  font-size: 15px;
}

.date {
  font-family: arial;
}

.newsweek-icon {
  width: 132px;
  filter: invert(1);
}

.top-right-header i {
  opacity: 0.7;
  font-size: 19px;
}

.top-right-header .subscribe {
  background-color: #ffe400;
  font-size: 13px;
  min-width: 88px;
}

.top-right-header .subscribe i {
  font-size: 13px;
}

.rectangle {
  top: 95px;
  right: 0;
  width: 67px;
  height: 13px;
  background: #f72210;
}

.triangle {
  top: 95px;
  right: 67px;
  width: 0;
  height: 0;
  border-top: 13px solid #f72210;
  border-left: 13px solid transparent;
}

/* MIDDLE HEADER */

.middle-header ul{
  margin-right: 85px;
  font-size: 19px;
  height: 55px;
}

.middle-header ul li{
  display: flex;
  align-items: center;
}

.middle-header ul li .seperation {
  height: 19px;
  border-left: 1px solid lightgray;
}

.search-input input{
  width: 70px;
  border: transparent;
}

::placeholder {
  font-family: arial;
}

/* BOTTOM HEADER */

.bottom-header ul {
  padding: 12px 0;
  border-color: lightgray;
  border-width: 3px;
}

.bottom-header li {
  margin-left: 33px;
}

/* MAIN/SHOWCASE */

/* TOP STORY */

.heading-rectangle {
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.9);
}

.article-subtext {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial,Helvetica,sans-serif;
  margin-top: 10px;
}

/* MEDIA QUERY */

@media only screen and (min-width: 767px) {

/* HEADER */

  .top-right-header {
    font-size: 18px;  
  }

  .top-right-header i {
    font-size: 26px;
  }

  .top-right-header .subscribe {
    font-size: 18px;
  }

}

@media only screen and (min-width: 992px) {

/* HEADER */

  .top-header {
    height: 95px;
  }

  .newsweek-icon {
    width: 395px;
  }

  .top-right-header i {
    font-size: 26px;
  }

  .top-right-header .subscribe {
    font-size: 18px;
  }

}